#searchform {
	margin-bottom: 10px;
}
#searchform input#string {
	width: 50%;
}

#searchform input.submit {
	width: 30%;
}

input, textarea {
	background-color: #eee;
	padding: 2px;
	border: 1px solid #ccc;
}