$def with (posts, comments, user, next_page, previous_page, monthyear, form)
	
<h1>Woblag</h1>
$for post in posts:
	<h2><a href="/post/$post.id-$post.slug">$post.title</a></h2>
	<p>Posted at: $post.created</p>
	<p>Comments</p>
	<p>$post.body</p>

$if next_page != None:
	<a href="/page/$next_page">Next page</a>
$if previous_page != None:
	 <a href="/page/$previous_page">Previous page</a>
	
<h2>Archives</h2>
$for title, url in monthyear.items():
	<a href="/archive/$url">$title</a><br />
	
<br />
<form method="post" action="/post/search">
	$:form.render()
</form>
<br />
$if user == 'admin':
	<a href="/post/add">Add a new post</a> | 
	<a href="/admin/logout">Logout</a>
$else:
	<a href="/admin/login">Login</a>