$def with (posts, comments, form)
$for post in posts:
	<h2>$post.title</h2>
	<p>$post.body</p>
	
	<h5><a href="/post/$post.id/edit">Edit</a> - <a href="/post/$post.id/delete">Delete</a></h5>

	<h3>Comments for this post</h3>
	$for comment in comments:
		<h4>$comment.author - <a href="/post/$post.id/comment/$comment.id/delete">[Delete]</a></h4>
		<p>$comment.body</p>

	<h3>Comment on this post</h3>
	<form action="/post/$post.id/comment" method="post">
		$if not form.valid: <p class="error">Try again</p>
		$:form.render()
		<input type="submit" value="Post comment" />
	</form>